# latex

**.aux
**.dvi
**.fdb_latexmk
**.fls
**.nav
**.log
**.out
**.snm
**.toc
**.xwm
**.bbl
**.blg
**.spl
**.synctex.gz

# mac

**/.DS_Store

# python

**/__pycache__

# ide

**/.idea
**/.vscode

# jupyter notebook

**/.ipynb_checkpoints
